In [37]:
# Vehicle data set : Regression-LinearRegression

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv("D:/project/vehicleDataset/car_data.csv")

In [4]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
df.shape

(301, 9)

In [6]:
df.drop(["Car_Name"],axis=1,inplace=True)

In [7]:
df.head()

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           301 non-null    int64
 1   Selling_Price  301 non-null    float64
 2   Present_Price  301 non-null    float64
 3   Kms_Driven     301 non-null    int64
 4   Fuel_Type      301 non-null    object
 5   Seller_Type    301 non-null    object
 6   Transmission   301 non-null    object
 7   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(3)
memory usage: 18.9+ KB

In [9]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [10]:
df.isnull().sum()

Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [11]:
X = df[["Year","Present_Price","Kms_Driven","Owner"]]

In [12]:
y = df["Selling_Price"]

In [13]:
df["Owner"].unique()

array([0, 1, 3], dtype=int64)

In [14]:
df["Seller_Type"].unique()

array(['Dealer', 'Individual'], dtype=object)

In [15]:
df["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [16]:
df["Transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [17]:
X.head()

   Year  Present_Price  Kms_Driven  Owner
0  2014           5.59       27000      0
1  2013           9.54       43000      0
2  2017           9.85        6900      0
3  2011           4.15        5200      0
4  2014           6.87       42450      0

In [18]:
X["present"] = 2023

In [19]:
X["Year"] = X["present"]-X["Year"]

In [20]:
X.drop(["present"],axis= 1,inplace=True)

In [21]:
from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()

In [22]:
X["Year"]= scale.fit_transform(X[["Year"]])

In [23]:
X["Kms_Driven"] = scale.fit_transform(X[["Kms_Driven"]])

In [24]:
X["Present_Price"] = scale.fit_transform(X[["Present_Price"]])

In [25]:
X["Owner"] = scale.fit_transform(X[["Owner"]])

In [26]:
X.head()

       Year  Present_Price  Kms_Driven  Owner
0  0.266667       0.057109    0.053053    0.0
1  0.333333       0.099913    0.085085    0.0
2  0.066667       0.103273    0.012813    0.0
3  0.466667       0.041504    0.009409    0.0
4  0.266667       0.070980    0.083984    0.0

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [28]:
X_train.shape

(240, 4)

In [29]:
X_test.shape

(61, 4)

In [30]:
model = LinearRegression()

In [31]:
model.fit(X_train,y_train)

LinearRegression()

In [32]:
model.score(X_test,y_test)

0.8210351448082924

In [42]:
x = model.predict(X_test)
x[:5]

array([ 2.11110638,  8.84674696,  4.94936351, -1.14863374, 10.14153427])

In [43]:
y_test[:5]

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
Name: Selling_Price, dtype: float64